// COLORS
$color_1: #fff;
$color_2: #000;
$color_3: #272727;
$color_4: #fc5f45;
// $color_5: #;
// $color_6: #;
// $color_7: #;
// $color_8: #;
// $color_9: #;
// $color_10: #;
// $color_11: #;
// $color_12: #;
// $color_13: #;
// $color_14: #;
// $color_15: #;
// $color_16: #;
// $color_17: #;
// $color_18: #;
// $color_19: #;
// $color_20: #;

// FONTS
$font_1: 'Times New Roman', Times, serif;

$font-size_1: 1em;

// ICONS


// IMAGES


// SCREEN
$media-type_1: screen;

// Small devices (landscape phones, 576px and up)
$screen-sm: 576px;
// Medium devices (tablets, 768px and up)
$screen-md: 768px;
// Large devices (desktops, 992px and up)
$screen-lg: 992px;
// Extra large devices (large desktops, 1200px and up)
$screen-xl: 1200px;