// COLORS
$color_1: #fff;
$color_2: #000;

// FONTS
$font_1: 'Times New Roman', Times, serif;

$font-size_1: 1em;

// ICONS


// IMAGES


// SCREEN
$media-type_1: screen;

// Small devices (landscape phones, 576px and up)
$screen-sm: 576px;
// Medium devices (tablets, 768px and up)
$screen-md: 768px;
// Large devices (desktops, 992px and up)
$screen-lg: 992px;
// Extra large devices (large desktops, 1200px and up)
$screen-xl: 1200px;