html
    head(lang="en")
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        link(rel="stylesheet", href="./styles/style.css")
        title="Alexis"
    body
        div.wrapper
            header.header
                div.header__logo-container
                    img.header__logo(src="./assets/img/img-header-logo.png")
                nav.header__nav
                    ul.header__nav-ul
                        li.header__nav-li
                            a.header__nav-link(href="#about", title="About Us") About Us
                        li.header__nav-li
                            a.header__nav-link(href="#about", title="About Us") Our Focus
                        li.header__nav-li
                            a.header__nav-link(href="#about", title="About Us") Portfolio
                        li.header__nav-li
                            a.header__nav-link(href="#about", title="About Us") Our Team
                        li.header__nav-li
                            a.header__nav-link(href="#about", title="About Us") Work Space
                        li.header__nav-li
                            a.header__nav-link(href="#about", title="About Us") Pricing
                        li.header__nav-li
                            a.header__nav-link(href="#about", title="About Us") Testimonials
                        li.header__nav-li
                            a.header__nav-link(href="#about", title="About Us") Blog
                        li.header__nav-li
                            a.header__nav-link(href="#about", title="About Us") Contact  
            div.advert
                div.advert__header
                    div.advert__title-container
                        p.advert__title We design things with love and passion.
                    input.advert__button(class="advert__button_animated_true")(type="button", value="Our Works")
                div.advert__body
                    div.advert__content
                        img.advert__content-icon(src="./assets/img/icon-header-dollar.png")
                        p.advert__text(class="advert__content_color_green") FIXED PRICES PROJECTS
                    div.advert__content
                        img.advert__content-icon(src="./assets/img/icon-header-clock.png")
                        p.advert__text(class="advert__content_color_violet") RECEIVE ON TIME
                    div.advert__content
                        img.advert__content-icon(src="./assets/img/icon-header-tick.png")
                        p.advert__text(class="advert__content_color_orange") SATISFACTION GUARENTEED


        
        script(src="./scripts/script.js" type="text/javascript")